.hero-section {
    background: linear-gradient(
      to bottom,
      #10002b,
      #240046,
      #3c096c,  
      #5a189a,
      #7b2cbf,
      #9d4edd,
      #c77dff
    );
    width: 100%;
    height: 100%;
  }

  /* ----------------------scroll bar--------------------- */
  .card-container::-webkit-scrollbar {
    width: 5px;
  }
  
  .card-container::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  .card-container::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  /* ----------------------------------------------- */

.contratos-container{
height: 90vh;
display: flex;
justify-content: center;
align-items: center;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: start;
    height: 80vh;
    width: 70vw;
    background-color: #333;
    border-radius: 20px;
    overflow: auto;
    padding: 1.5%;
}
  /* overflow auto deixa scrollavel */



/* -------------------css card------------------- */
.card-contratos {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  height: auto;
  width: 67vw;
  background-color: #ffff;
  border-radius: 20px;
  margin-bottom: 2.5%;
  padding: 1%;
  color:black
  ;
}

#div-foto-info{
  display: flex;
  gap: 20px;
}


.foto-perfil img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.btn-resultados{
  align-self: end;
  background-color: #555;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.btn-resultados:hover {
  background-color: #777;
}

#motoristaIndisponivel{
  margin-top: 100px;
  font-size: 32px;
  color: rgb(207, 207, 207);
}