/*  BREVE EXPLICAÇÃO SOBRE ALGUMAS CLASSES E O QUE FAZEM
<   CLASSE: 'LOGO' = CLASSE DE EXIBIÇÃO DO LOGO DA PÁGINA>
<   CLASSES: 'NAV E NAV-LINKS' = FORMATAR A BARRA DE NAVEGAÇÃO COMO LINKS DE AÇÃO <a>>
<   CLASSE: 'CARD-ANIMATED-BORDER' = CLASSE PARA ANIMAR A BORDA DA CARD NA TELA INICIAL>
<   CLASSES: 'MESSAGE-DIV, LEFT-MESSAGE E RIGHT-MESSAGE' = CONTROLAM FORMATAÇÃO E ORGANIZAÇÃO DE
MESSAGENS NA SEÇÃO HERO>
<   CLASSE: 'HIDDEN' = TORNA O ESTADO INICIAL DE ELEMENTOS COMO 'ESCONDIDOS', PARA QUE AO ENTRAR
EM CENA OCORRA UMA ANIMAÇÃO>
<   CLASSES: 'SISTEMA-INOVADOR E ATRIBUTOS-INOVADOR' = ESTILIZAÇÃO DA SEÇÃO "SOBRE NÓS">
<   CLASSE: 'IMAGE' = CONTROLA O ESTILO DAS IMAGENS NA SEÇÃO DE IMAGENS ARRASTAVÉIS> */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Poppins;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
  /* ------------------SCROLL-BAR-PERSONALIZADA----------------- */
  body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  
/* ------------------------DEFINIÇÕES GLOBAIS---------------------- */
ul{
  list-style: none;
}

p{
  font-size: 20px;
}

h1{
  font-size: 30px;
}

h3{
  font-size: 20px;
}

a{
  text-decoration: none;
}

  
  /* ----------------------------------INDEX--------------------------------- */
  
  .hero-section {
    background: linear-gradient(
      to bottom,
      #10002b,
      #240046,
      #3c096c,  
      #5a189a,
      #7b2cbf,
      #9d4edd,
      #c77dff,
      #e0aaff,
      #ffffff
    );
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  
  /* ----------------------------------HEADER----------------------------------- */
  
  .barra-de-cima {
    display: flex;
    align-items: center;
    padding: 30px 150px;
    height: 10vh;
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .logo-txt{
    font-size: 24px;
    color: white;
    text-decoration: none;
  }


  .menu-topo {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .nav-topo-itens {
    list-style: none; /*para que não apareça a lista na vertical*/
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .btn-menu {
    display: inline-flex;
    align-items: center;
    gap: 5px; /* Espaço entre o texto e o ícone */
    color: #ffffff;
    text-decoration: none;
  }
  
  .btn-menu svg {
    vertical-align: middle;
  }

  .btn-menu:hover {
    cursor: pointer;
    background-color: #240046;
  }
  
  .nav-topo-itens a {
    font-size: 16px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
  }

  /* -----------------------------------------------LEFT-MESSAGE---------------------------------- */
  .hero-txt-div {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    justify-content: center;
    margin-left: 150px;
  }
  
  #txt-hero {
    padding: 0 0 50px 0; 
  }

  #txt-hero p{
    font-size: 80px;
    color: rgb(255, 255, 255);
  }
  
  /* ---------------------------------CARDS--------------------------------------- */
  
  .card-animated-border{
    background-color: #1c1f2b;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 70px;
    border-radius: 25px;
    position: relative;
    transition: background-color 0.3s ease;
    margin: 0;
  }
  
  .card-animated-border:hover{
    background-color: #272a36;
  }

  .card-animated-border h2 {
    color: white;
    font-size: 20px;
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card-animated-border::after,
  .card-animated-border::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 20%, white);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 1px;
    border-radius: 25px;
    /* o border radius tem que ser o mesmo do card */
    animation: 7s spin linear infinite;
  }
  
  .card-animated-border::before {
    filter: blur(1rem);
    opacity: 0.5;
  }
  
  @keyframes spin {
    from {
      --angle: 0deg;
    }
    to {
      --angle: 360deg;
    }
  }
  /* ---------------------------------RIGHT-MESSAGE-------------------------------------- */
  .roll-txt{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
  .msg1{
    height: 400px;
    width: 600px;
    right: 0%;
    position: absolute;
  }
  
  .msg1 p, .msg2 p{
    color: white;
    font-size: 35px;
  }
  
  .msg2{
    height: 400px;
    width: 800px;
    top: 30%;
    left: 5%;
    position: absolute;
  }
  
  
  
  /* -----------------------------MAIS-----------------------------------
  */
  .mais-section{
    width: 100%;
    height: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  
  .sistema-inovador{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
  }
  
  .sistema-inovador h1{
    font-size: 40px;
  }
  
  .sistema-inovador p{
    font-size: 30px;
  }
  
  .atributos-inovador{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    margin: 100px;
  }
  .atributos-inovador div {
    display: contents; /* Remove a caixa de div para que img e p sejam tratados diretamente */
  }
  
  .atributos-inovador svg{
    grid-row: 1;
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: end;
  }
  
  .atributos-inovador p {
    grid-row: 2; 
    justify-self: center;
    font-size: 25px;
    text-align: center;
    margin: 20px;
  }

  /* -------------------------------IMAGES-ANIMATION-------------------------- */

#image-section{
  width: 100%;
  height: auto;
  margin: 150px 0 20px 0px;
  position: relative;
}
#image-track > .card-image {
  position: relative;

}
#image-track > .card-image img{
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 10px;

}

.card-image h1{
  position: absolute;
  top:50px;
  right: 40px;
  font-size: 40px;
}

.text{
  position: absolute;
  top: 100px;
  right: 40px;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}


/* ---------------------------APARECE E DESAPARECE MENSAGEM SOBRE------------------------ */

#sobre{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sobre-message{
  text-align: center;
  height: 300px;
  width: 550px;
  margin: 50px;
}

#sobre-message1, #sobre-message2{
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.5s ease
  }

  #sobre-message2{
    opacity: 0;
    transition: opacity 0.5s ease
    }

#sobre-message1.invisible, #sobre-message2.invisible {
  opacity: 0;
}

#sobre-message1.visible, #sobre-message2.visible {
  opacity: 1;
}

/* --------------------FOOTER--------------------- */


.footer-container {
  margin-top: 20vh;
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.footer-left{
  padding: 100px;
  text-align: start;
  width: 50%;
}

.footer-left input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.footer-left button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-left button:hover {
  background-color: #4d4d4d;
}

.footer-divider {
  height:80%;
  width: 0%;
  border: 1px solid #ccc;
}

.footer-right {
  padding: 100px;
  display: flex;
  width: 50%;
  gap: 100px;
}

.footer-column h3{
  margin-bottom: 10px;
}

.footer-column li {
  margin-bottom: 10px; 
}

.footer-column a {
  color: #333;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #ccc;
}

.footer-bottom p{
  color: white;
}

  /* -------------------------------ANIMAÇÃO--------------------- */
  .hidden {
    opacity: 0;
    filter: blur(2px);
    transform: translateY(40%); 
    /* translateX -> -100% para vir da esquerda e 100% para vir da direita */
    transition: all 1.5s;
  }
  
  .hiddenL {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-50%); 
    /* translateX -> -100% para vir da esquerda e 100% para vir da direita */
    transition: all 2s;
  }
  
  .hiddenR {
    opacity: 0;
    filter: blur(2px);
    transform: translateX(50%); 
    /* translateX -> -100% para vir da esquerda e 100% para vir da direita */
    transition: all 2s;
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  